/* style for the body, essentially just alters the background color */
body {
  background-color: green;
}

/* styling for the Application itself, aligns the content to the center */
.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  font-size: 25px;

}

/* Aligns the map, info-bar and guess modal in a row */
.MapInfoBarWrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/* Info-bar styling */
.InfoBar {
  background-color: grey;
  height: 20vh;
  margin-left: 10px;
}
/* styling for the direction buttons */
.directionButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25vh;
  margin-right: 10px;
}
/* Wrapper for the game buttons */
.gameButtonWrap{
margin-top: 15px;
  margin-bottom: 30px;

}

/* style for the buttons */
.buttonStyle{
  background-color: Grey;
  padding: 7px;

}
